h1 {
    color:rgb(32, 142, 36);
    margin-left: 800px;
}

.header {
    background-color:lightgoldenrodyellow;
    display:flex;
    justify-content: space-between;}

    .grid {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }